@model List<Product>

@foreach (var item in Model)
{
    <div class="col">
        <div class="card h-100">
            <img src="@item.Picture" class="card-img-top" alt="@item.ProductName">
            <div class="card-body">
                <h5 class="card"><a href="/Product/GetProductDetails/@item.ProductId"></a>@item.ProductName</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">@item.Price ₺</small>
                <a class="btn btn-primary btn-sm float-end" href="/Product/GetProductDetails/@item.ProductId">
                    <i class="fa-solid fa-angle-right"></i> Ürün Detay
                </a>
                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="d-inline">
                    <input type="hidden" name="productId" value="@item.ProductId" />
                    <button type="submit" class="btn btn-outline-success btn-sm float-end">
                        <i class="bi bi-cart"></i>
                    </button>
                </form>
           @*      <a href="/Cart/AddToCart/@item.ProductId" class="btn btn-outline-success btn-sm float-end">
                    <i class="bi bi-cart"></i>
                </a> *@

            </div>

        </div>
    </div>
}
