@model List<Category>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

<h3>Mevcut Kategoriler</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kategori</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center mt-3">
    <a href="@Url.Action("Add", "Category")" class="btn btn-primary">Yeni Kategori Ekle</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
